* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#footer {
  background-color: blueviolet;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#payment-container , #address-container, #social-container{
  text-align: center;
  margin-bottom: 20px;
}



.icon-payment {
  margin-top: 3px;
  width: 35px;
  margin-left: 10px;
  background-color: white;
  height: 29px;
  padding: 3px;
  border-radius: 3px;
}

#pix {
  width: 30px;
}

#elo {
  height: 29px;
  width: 40px;
}

#address p{
  width: 200px;
}

#address {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 38px;
}

#copyright {
  text-align: center;
  font-size: 13px;
}

@media screen and (min-width: 688px) {

}