@import url('https://fonts.googleapis.com/css2?family=Allura&family=Gwendolyn:wght@400;700&family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  height: 100vh;
  width: 100vw;
  background-image: url('img/top-view-bowl-with-lentils-variety-condiments.jpg');
  background-size: cover;
  background-position: center;
  color: gold;
  text-shadow: 3px 3px 10px black;
}

h1 {
  font-family: gwendolyn, allura, cursive;
  font-size: 5rem;
  font-weight: 400;
  margin: 0vh 0 0 5vh
}

#logo-img {
  max-width: 65%;
}

#footer {
  background-color: blueviolet;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-footer{
  text-align: center;
  margin-bottom: 20px;
}

#footer p {
  font-size: 14px;
}

.icon-payment {
  margin-top: 3px;
  width: 35px;
  background-color: white;
  height: 29px;
  padding: 3px;
  border-radius: 3px;
}

#pix {
  width: 30px;
}

#elo {
  height: 29px;
  width: 40px;
}

#address p{
  width: 200px;
}

#address {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 38px;
}

#copyright {
  text-align: center;
  font-size: 13px;
}

@media screen and (min-width: 688px) {

}